APP_ENV=dev
APP_PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=store_db
DB_POOL_MAX_OPEN=
DB_POOL_MAX_IDLE=
DB_POOL_MAX_LIFETIME=
DB_POOL_MAX_IDLE_TIME=

JWT_SECRET=
JWT_EXPIRE_HOURS=24
